{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Symfony Live Summer 2022!</h1>

        <div class="row">
            <div class="col-7">
                {% component alert with { type: 'success' } %}
                    {% block message %}
                        <span class="fa fa-code"></span>
                        Write some markdown
                    {% endblock %}
                {% endcomponent %}

                {% component alert with { type: 'danger' } %}
                    {% block message %}
                        But make it interesting!!
                    {% endblock %}
                {% endcomponent %}
            </div>
        </div>

        <div class="row" {{ stimulus_controller('markdown') }}>
            <div class="col-3">
                <textarea
                    class="form-control"
                    placeholder="type some **markdown**!"
                    rows="5"
                    {{ stimulus_action('markdown', 'convert') }}
                ></textarea>
            </div>
            <div class="col-1 text-center">
                <div class="arrow-box">
                    <span class="fa fa-arrow-right"></span>
                </div>
            </div>
            <div
                class="col-3 markdown-result"
                {{ stimulus_target('markdown', 'output') }}
            >

            </div>
        </div>
    </div>
{% endblock %}
